<?xml version="1.0"?>
<launch>
  <!-- <node name="savedata_node" pkg="bomicontrol" type="save_node.py" output="screen"/>
  <node name="emg_node" pkg="bomicontrol" type="emg_node.py" output="screen"/> 
  <node name="imu_interface_node" pkg="bomicontrol" type="hmi_imu.py" output="screen"/>
  <node name="cursor_node" pkg="bomicontrol" type="cursor_node.py" output="screen"/>  -->
  <node name="gui_node" pkg="bomicontrol" type="gui_node.py" output="screen"/>
  <!-- <node name="emgvis_node" pkg="bomicontrol" type="emg_vis.py" output="screen"/> -->
</launch>
